.Navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #333333;
    color: aliceblue;
    min-height: 50px;
    height: 50px;
    margin: 0;
    z-index: 1;
  }

.Navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
}

.Navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex: 1 0 auto;
    align-items: center;
}

.Navbar-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.Navbar-link * {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.three-lines {
    display: none;
}

.navbar-links-mobile-container {
    display: none;
    background-color: #f4f4f4;
    width: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    margin-top: -120px;
    transition: margin 400ms;
}

@media only screen and (max-device-width: 768px) {
    /* Styles */

    .three-lines {
        display: block;
    }

    .three-lines:active {
        opacity: 0.7;
    }

    .Navbar-links {
        display: none;
    }

    .navbar-links-mobile-container {
        display: flex;
    }

    .show {
        margin-top: 0;
    }

    .navbar-links-mobile-container .Navbar-links {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .navbar-links-mobile-container .Navbar-links * {
        color: #333;
        width: auto;
    }

    .Navbar-link {
        height: 40px;
    }

    .Navbar-link:active {
        background-color: #ddd;
    }

}